<mat-toolbar color="basic">

    <mat-toolbar-row>
       <button mat-icon-button (click) = "toggleSideBar()">
           <mat-icon>menu</mat-icon>
       </button>

       <img src="../assets/plug.png" alt="">

       <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
           <ul fxLayout="row" fxLayoutGap="150px">
               <li>
                <button mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
               </button>
               </li>
           </ul>
       </div>
    </mat-toolbar-row>

</mat-toolbar>